#prod 用docker-compose启,url里面关于localhost的都换掉
spring:
  datasource:
    druid:
      mysql:
#mysqlServerHost is a mark,
        url: jdbc:mysql://mysqlServerHost:3306/post
        username: /objects/postsystem/mysql/prod/username
        password: /objects/postsystem/mysql/prod/password
        initial-size: 5
        max-active: 20
  redis:
    host: redisServerHost
  elasticsearch:
    rest:
      uris:
        - http://elasticsearchServerHost:9200
minio:
  host: minioServerHost

