spring:
  datasource:
    druid:
      mysql:
        url: jdbc:mysql://localhost:3306/post
        username: root
        password: 123456
        #Spring Boot 2.X 版本不再支持配置继承，多数据源的话每个数据源的所有配置都需要单独配置，否则配置不会生效,所以 initial-size,max-active...放在了这里
        initial-size: 5
        max-active: 20
mybatis:
  # mybatis log打印到标准输出，看该类实现，所以level 级别的日志实现都是往标准输出打
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl