# imitate https://github.com/macrozheng/mall/blob/d3a8fb5dcd/document/docker/docker-compose-app.yml https://www.jianshu.com/p/46db38b94200
version: '3'
services:
  ps-mysql:
    image: mysql:5.7
    environment:
      - MYSQL_ROOT_PASSWORD=123456
    ports:
    - 3306:3306
    volumes:
      # 把初始化mysql的两个文件映射过去。直接映射文件而不是目录，避免不需要的文件被映射过去。mysql启动的时候会扫描/docker-entrypoint-initdb.d目录下的.sql文件并读取、执行。
    - ~/work_space/post-system/ps-web/src/main/db/settings.sql:/docker-entrypoint-initdb.d/settings.sql
    - ~/work_space/post-system/ps-web/src/main/db/data.sql:/docker-entrypoint-initdb.d/data.sql
    restart: always
  ps-redis:
    image: redis:6.0.10
    ports:
    - 6379:6379
    entrypoint: redis-server --appendonly yes
    restart: always
  ps-minio:
    image: minio/minio:RELEASE.2021-02-07T01-31-02Z
    ports:
    - 9000:9000
    environment:
      - MINIO_ROOT_USER=root
      - MINIO_ROOT_PASSWORD=12345678
    command: server /data
    restart: always
  ps-elasticsearch:
    image: elasticsearch:7.8.1
    ports:
    - 9200:9200
    - 9300:9300
    environment:
      - discovery.type=single-node
  ps-kibana:
    image: kibana:7.8.1
    ports:
    - 5601:5601
    environment:
      - ELASTICSEARCH_HOSTS=["http://ps-elasticsearch:9200"]
    depends_on:
      - ps-elasticsearch
  web:
    image: upupdididi/post-web-service:v1.0.0
    ports:
    - 8080:8080
    depends_on:
      - ps-mysql
      - ps-redis
      - ps-minio
      - ps-elasticsearch
    links:
#   application-prod.yml use these alias
      - ps-mysql:mysqlServerHost
      - ps-redis:redisServerHost
      - ps-minio:minioServerHost
      - ps-elasticsearch:elasticsearchServerHost


